<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Austin Restaurant Ratings</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <div class="header">
    <h2> About</h2>
     <nav>
   <a id="first" class="button" href="/">Home</a> <a href="/about.erb" class="button">About</a> <a href="/contact.erb" class="button" >Contact</a> <a id="user" href="/user-rating.erb" class="button" >Your Ratings</a> 
   </nav>
   </div>
   <div class="choices" id="about">
     <p> One evening we found ourselves discussing, once again, the wide selection of restaurants in Austin. The real questions for us were: <span>how long is too long to wait for good food</span>, and <span>how much is too much to pay for good food?</span> Through analysis of data collected from house members, we were able to score restaurants' prices, wait times, and quality. We recognize that even on a day-to-day basis, our priorities may change. We therefore adjusted our algorithm to account for different priorities. What you see is a search engine that allows you to set your priorities to find the top five options in Austin for your preferences. We hope you enjoy. <span>Please leave us comments on the "Contact" page if you disagree with our ratings or have further questions for us</span>. 
     </p>
   </div>
   <br>
   <br>
   <section>
      <footer>
        &copy; 2015 Taylor Want. All Rights Reserved.
      </footer>
    </section>
  
 </body>
</html>