<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Austin Restaurant Ratings</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <div class="header">
   <h1> A Comprehensive Rating of Austin Restaurants</h1>
   </div>
   <nav>
   <a id="first" class="button" href="/">Home</a> <a href="/about.erb" class="button">About</a> <a href="/contact.erb" class="button" >Contact</a> <a id="user" href="/user_rating.erb" class="button" >Your Ratings</a> 
   </nav>
  <br>
   <br>
   <br>
   <br>
   <div class="map_div">
     <iframe height="100%" width="100%" class="map" frameborder="0" style="border:0"src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8g506QCPrIC5OrWWGt6kbRIYb8FQT0oU
    &q=Space+Needle,Seattle+WA" allowfullscreen>
  </iframe>
   </div>
  <div class="choices">
    <p>Please select the <i> most </i>important factor to you in choosing a restaurant       </p>
    <select form="preferences" name="first" class="button">
     <option value="-----" selected>-----</option>
     <option value="price">Price</option>
     <option value="waittime">Wait time</option>
     <option value="quality">Food Quality</option>
    </select>
    <br>
    <p>Please select the <i>second most </i> important factor to you in choosing a restaurant 
    </p>
    <select form="preferences" name="second" class="button">
     <option value="-----" selected>-----</option>
     <option value="price">Price</option>
     <option value="waittime">Wait time</option>
     <option value="quality">Food Quality</option>
    </select>
    <br>
    <p>Please select the <i>least</i> important factor to you in choosing a restaurant       </p>
    <select form="preferences" name="third" class="button">
     <option value="-----" selected>-----</option>
     <option value="price">Price</option>
     <option value="waittime">Wait time</option>
     <option value="quality">Food Quality</option>
    </select>
    <br>
    <br>
    <form method="POST" action="/result" id="preferences">
       <input type="submit" value="Get Restaurants!" class="button" id="submit">
     </form>
    </div>
   <br>
  
   <br>
   <section>
      <footer>
        &copy; 2015 Taylor Want. All Rights Reserved.
      </footer>
    </section>
  
 </body>
</html>