<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Austin Restaurant Ratings</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <div id="ratings" class="header">
   <h1 > Your Ratings</h1>
     </div>
     <nav>
   <a id="first" class="button" href="/">Home</a> <a href="/about.erb" class="button">About</a> <a href="/contact.erb" class="button" >Contact</a> <a id="user" href="/user-rating.erb" class="button" >Your Ratings</a> 
   </nav>
   <br>
   <br>
   <br>
   <br>
   <div class="choices">
     <p id="thanks">Thanks for your input! It will be incorporated into our future recommendations!</p>
  </div>
   
  <br>
   <br>
   <br>
   <br>
  
      <footer>
        &copy; 2015 Taylor Want. All Rights Reserved.
      </footer>
    </section>
  
 </body>
</html>