@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic);

body{
  background-image:url(https://farm9.staticflickr.com/8760/17947678021_761baa3734_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:fixed;
  font-family: 'Roboto', sans-serif;
  color: #222;
  max-width:1080px
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size : 2em;
  font-weight:200;
  max-height:6em;
  max-width:1080px;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size : 1.5em;
  font-weight:200;
  max-height:6em;
  max-width:1080px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size : 1.2em;
  font-weight:200;
  max-height:6em;
  max-width:1080px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size : 0.8em;
  font-weight:200;
  color: #222;
}
#about{
  line-height:1.5em;
}
#thanks{
  line-height: 2em;
  font-size: 1.75em;
}

span{
  font-weight: 300;
}
nav{
  min-width:500px;
}
nav .button{
  text-align:center;
  font-size:80%;
  max-height:5%;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  background: #FFA07A;
  border:1px solid #888; 
  -webkit-border-radius: 5px #888;
  border-radius: 5px #888;
  float:left;
  width: 11%;
  margin:3%;
}
#user{
  width: 14%;
  margin-right:0%;
}
#first{
  margin-left:27%
}
#result-first{
  margin-left:17.5%;
}
a{
  font-family: "Roboto";
  font-weight:200;
  font-size:1em;
  text-decoration: none;
  color: #222;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size : 0.6em;
  font-weight:300;
  max-height:6em;
  max-width:1080px;
  color: #222;
  float: right;
}
.header {
  text-align:center;
  margin-left:27%;
}
#ratings .header {
  text-align:right;
  float:right;
  width: 60%;
}

.choices{
  border: solid 1px #888;
  text-align:center;
  width: 70%;
  padding: 1%;
  margin-left:27%;
  background: #FAEBD7;
  position: static;
  min-width:550px;
}
.button{
  font-family: 'Roboto', sans-serif;
  font-size : 0.75em;
  font-weight:100;
  background: #FFA07A;
  padding:5px; 
  border:1px solid #888; 
  -webkit-border-radius: 5px #888;
  border-radius: 5px #888;
  width:50%
}

.button:hover{
  font-family: "Roboto";
  font-weight:200;
  font-size:0.8em;
  text-decoration: none;
  color: rgb(199, 127, 113);
}
a:hover{
  font-family: "Roboto";
  font-weight:200;
  font-size:0.75em;
  text-decoration: none;
  color: rgb(199, 127, 113);
}
#preferences{
  width:40%;
  margin-left:31%;
  font-size: 0.7em;
}
.submit_button{
  text-align:center;
}

#revise{
  width: 15%;
  float:right;
  margin-right:3%;
}

#rate {
  width: 15%;
  float:right;
  margin-right:3%;
}




  
